.column {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    min-width: 350px;
}

.blockTask {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    min-width: 350px;
    min-height: 120px;
    background: #2B2C37;
    box-shadow: 0px 4px 6px rgba(54, 78, 126, 0.101545);
    border-radius: 8px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;

    color: #828FA3;
}

.blockTask:hover {
    background: #25262f;
}


.blockTaskTitle {
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;

    color: #FFFFFF;
}

.setting {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.setting:hover {
    animation: rotate 1s linear infinite;
}



.titleContainer {
    display: flex;
    gap: 12px;
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.todo {
    background: #49C4E5;
}

.doing {
    background: #8471F2;
}

.done {
    background: #67E2AE;
}

.draft {
    background: #2B2C37;
    box-shadow: 0px 4px 6px rgba(54, 78, 126, 0.101545);
}

.title {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 2.4px;
    color: #828FA3;
    text-transform: uppercase;
}






@keyframes rotate {
    from {transform: rotate(0)}
    to {transform: rotate(360deg)}
}