.innerWrapper {
    position: relative;
}

.container {
    position: fixed;
    left: 0;
    top: 0;
    min-width: 300px;
    height: 100vh;
    background-color: #2B2C37;
    border-right: 1px solid #3E3F4E;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 33px 0;
    height: 100vh;
}

.logoContainer {
    margin-left: 34px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 54px;
}

.logo1 {
    max-width: 24px;
    max-height: 25px;
}

.logo {
    max-width: 113px;
    max-height: 25px;
}

.boardContainer {
    display: flex;
    flex-direction: column;
}

.boardCount {
    margin-left: 32px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 2.4px;
    color: #828FA3;
    text-transform: uppercase;
    margin-bottom: 19px;
}


.items {
    display: flex;
    flex-direction: column;
}


.addBoardItem {
    display: flex;
    gap: 16px;
    padding-left: 32px;
    list-style-type: none;
    width: 276px;
    height: 48px;
    border-radius: 0px 100px 100px 0px;
    cursor: pointer;
}

.addBoardTitle {
    align-self: center;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    color: #635FC7;
}

.boardIconContainer {
    align-self: center;
    max-height: 16px;
}

.boardIcon {
    max-width: 16px;
    max-height: 16px;
}

.item {
    display: flex;
    gap: 16px;
    padding-left: 32px;
    list-style-type: none;
    width: 276px;
    height: 48px;
    border-radius: 0px 100px 100px 0px;
    cursor: pointer;
}

.boardIconContainer {
    align-self: center;
    max-height: 16px;
}

.boardIcon {
    max-width: 16px;
    max-height: 16px;
}

.boardTitle {
    align-self: center;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
}

.footerContainer {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.footerSidebar {
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.themeContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 23px;
    width: 251px;
    height: 48px;
    background: #000112;
    border-radius: 6px;
}

.lightTheme {
    max-height: 18px;
}

.darkTheme {
    max-height: 15px;
}

.visibleContainer {
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    color: #828FA3;
    cursor: pointer;
}

.hideImgContainer {
    max-width: 18px;
    max-height: 16px;
}

.hide {
    position: absolute;
    top: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 48px;
    background: #A8A4FF;
    border-radius: 0px 100px 100px 0px;
    cursor: pointer;

    transform: translateX(-56px);
}

.onVisible {
    transform: translateX(300px);
    transition: 1s;
}

.notVisible {
    transform: translateX(-302px);
    transition: .5s;
}

.visible {
    transform: translateX(0);
    transition: .5s;
}



.active {
    background-color: #635FC7;
    width: 276px;
    border-radius: 0px 100px 100px 0px;
    cursor: pointer;
}